<footer>
		<h4>Connect with us!</h4>
		<ul class="contact-buttons">
			<li><a href="https://twitter.com/acciyo"><i class="fab fa-twitter"></i></a></li>
			<li><a href="mailto:team@acciyo.com"><i class="fas fa-envelope"></i></a></li>
			<li><a href="https://www.linkedin.com/company/acciyo/"><i class="fab fa-linkedin-in"></i></a></li>
		</ul>
    <p id="copy">Copyright &copy; 2018 – acciyo</a></p>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.11/js/all.js" integrity="sha384-ImVoB8Er8knetgQakxuBS4G3RSkyD8IZVVQCAnmRJrDwqJFYUE4YOv+DbIofcO9C" crossorigin="anonymous"></script>