a
    -webkit-tap-highlight-color: rgba(0,0,0,0);
mainFont(weight = 600)
    font-family 'Georgia', serif
    font-weight weight
    font-style normal

secFont(weight = 600)
	font-family 'Pontano Sans', sans-serif
    font-weight weight
    font-style normal

h1,h2,h3,h4
    font-family 'Pontano Sans', sans-serif
    font-weight weight
    font-style normal

.text-center
  text-align center